.container1 {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-direction:column;
}

h1{
    text-align: center;
    font-size: 30;
    margin: 1.5em auto;
}

.container-detail {
    display: flex;
}

.container-detail img {
    width: 40em;
    height: 25em;
    object-fit: cover;
    border-radius: 3px;
}

.detail-left {
    flex: 1;
}

.detail-right {
    padding-left: 1em;
    margin-left: 2em;
    flex: 1;
    display: grid;
}

.detail-right h4 {
    font-weight: 400;
    font-size: 20;
    
}

.detail-right i {
    margin-right: 0.5em;
    font-size: 29;
    font-weight: 500;
}

.gridTech-detail {
    display: grid;
    grid-template-columns: auto auto; 
    grid-template-rows: 3.2em 3.5em;
}

.gridTech-detail h4 { 
    align-items: center;
    font-size: 22;
}

.gridTech-detail h2 {
    grid-column: 1 / -1;
}

.container-text {
    margin-top: 3em;
    text-align: justify;
    font-size: 18;
}

@media only screen and (max-width: 900px) {
    .container-detail {
        display: block;
    }

    .detail-right {
        display: flex;
        padding-left: 0;
        margin-left: 0;
        justify-content: center;
       
    }

    .gridTech-detail {
        margin-left: 4em;
        gap: 1em;
        grid-template-rows: 2.5em 2em;
    }

    .detail-right h4 {
        font-weight: 400;
        font-size: 1em;

    }

    .container-text {
        margin-top: 1em;
    }
}

@media only screen and (max-width: 550px) {
    .detail-right {
        display: block;
    }

    .gridTech-detail {
        margin-left: 0;
        gap: 1em;
        grid-template-rows: 2.5em 2em;
    }

    .container-detail img {
        width: 20em;
        height: 20em;
        object-fit: cover;
        border-radius: 5px;
    }

}