.projectform {
    margin: 3em auto;
    width: 30%;
    padding-bottom: 3em;
}

.projectform h1 {
    text-align: center;
}

.projectform form div {
    margin-top: 15px;
}

.dateForm {
    display: flex;
    justify-content: center;

}

.dateInput1 {
    flex: 1;
    padding-right: 5px;
} 

.dateInput2 {
    flex: 1;
    padding-left: 5px;
}

.checkboxForm {
    all: revert; 
    display:flex ;
}

.checkboxForm input {
    width: 15px;
    box-shadow: none;
    margin-right: 5px;
    
}

.checkboxForm label {
    cursor : pointer;
    margin-left: 5px;
    margin-right: 19%;
}
.attachImg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 40px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 15px #9f9f9f;
}

.attachImg div{
    display: flex;
    justify-content: center;
    align-items:center ;
    background-color: #9f9f9f;
    height: 50;
    width:fit-content;
    margin-bottom: 15px;
    border-radius: 10px;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.container-blog {
    background-color:#ffffff;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

.container-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1em 4em;
}

.item-grid {
    margin: 2em 2em;
    padding: 1em;
    text-align: justify;
    border-radius: 1em;
    box-shadow: 0 0 1em #ada6a6;
}


.item-grid h5 {
    line-height: 0.1em;
    padding-bottom: 0.4em;
    font-weight: 300;
    color: #9f9f9f;
}

.item-grid img {
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 22em; 
    height: 13em;
    border-radius: 1em;
}

.previewTech {
    font-size: 2em;
    letter-spacing: 2%;
}

.itemBtn {
    bottom: 0;
    margin-top: 0.51em;
    display: flex;
    justify-content: center;
}

.itemBtn button{
    cursor: pointer;
    width: 49%;
    height: 2.4em;
    border-radius: 10px;
    color: white;
    background-color: #0a0a1a;
    font-size: 15;
    margin: 0 0.1em
}

@media only screen and (max-width: 900px) {
    .projectform {
        width: 80%;
    }

    .container-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 0 1em;
        
    }

    .item-grid {
        width:min-content;
        margin: 1em auto;
        padding: 1em;
        text-align: justify; 
    }

    .item-grid p {
        font-size: 12;
        line-height: 1.4em;
    }

    .item-grid h5 {
        padding-bottom: 0;
    }

    .item-grid h3 {
        font-size: smaller;
        line-height: 1px;
    }

    .item-grid img {
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        width: 18em;  
        height: 11em;
        border-radius: 1em;
    }

}

@media only screen and (max-width: 550px) {
    .container-grid {
        display: grid;
        grid-template-columns: 100%;
        padding: 0 0;
    }

}