@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #e0e4ea;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #f5f2f3;
    display: flex;
    align-items: center;
    height: 10%;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    margin-right: 25px;
    font-size: 20px;
}

nav ul li a {
    color: black;
}

nav ul li .active {
    font-weight: bold;
}

.nav-left {
    flex: 50%;
}

.nav-right {
    flex: 50%;
    text-align: end;
    margin-right: 25px;
}

.nav-right a {
    padding: 8px 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.barsmenu {
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    display: none;
    margin-right: 0.5em;
    font-size: 1.1em;
}

.hamburger-container {
    display: flex; 
    list-style-type: none;
    flex-direction: column;
    background-color: #9a9a9a;
    display: none;
    padding-bottom: 0.5em;
}

.hamburger-container a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.55em;
}

.hamburger-active {
    font-weight: 700;
}

.hamburger-contact {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 8em;
    height: 2.3em;
    border-radius: 10px;
}

.hamburger-contact a {
    padding: 0.2em;
}


.container {
    display: flex;
    margin: 5%;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 0 15px#565656;
    justify-content:center;
}

.container-left {
    flex: 1;
    text-align: justify;
}


.contact-button {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 8px 23px;
    font-size: 20px;
    cursor: pointer;
}

.contact {
    margin: 30px 0;
    display: flex;
    width: 90%; 
    align-items: center;
    font-size: 0.8rem;
    font-weight: 400;
}

.contact2 {
    display: flex;
    margin-right: 2em;
}
a {
    color: black;
}

.downloadimg {
    height: 30;
    margin-top: 17px
}

.container-right {
    flex: 1;
}

.card {

    width: fit-content;
    margin: 20% auto;
    box-shadow: 0 0 15px #565656;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 3px;
    line-height: 0.3em;
}

.card img {
    width: 20em;
    height: 23em;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.indexSection {
    display: flex;
    width: 80%;
    align-items: center;
}

.sosmed {
    text-align: center;
}

.sosmed i {
    font-size: 3rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    color: black;
}

/*    =Contact Css=     */

.contactform { 
    margin: 3em auto;
    width: 30%;
    padding-bottom: 3em;
}

.contactform h1 {
    text-align: center;
}

.contactform form div {
    margin-top: 15px;
}

label {
    font-size: 20px;
}

input,
select,
textarea {
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 15px #9f9f9f;
    resize: none;
}

.button-submit {
    background-color: rgb(0, 0, 0);
        color: white;
        padding: 6px 25px;
        border: none;
        border-radius: 10px;
        float: right;
        font-size: 15px;
        cursor: pointer;
        box-shadow: 0 0 15px #9f9f9f;
}

.button-submit:hover{
    background-color: #565656;
}

@media only screen and (max-width: 900px) {
    .indexSection {
        width: 90%; 
        flex-direction: column;
        padding: 1em 1em;
    }

    .container-left {
        width: 100%;
        flex: 1;
    }

    .container-right img {
        width: 13em;
        height: 14em;
        
    }
}

@media only screen and (max-width: 550px) {
    .item-collapse {
        display: none;
    }

    .barsmenu {
        display: block; 
    }

    .contactform {
        width: 85%;
    }

}