.rating-container {
    margin: 1em auto;
    width: fit-content;
}

.rating-container button {
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    font-size: 1.1em; 
}

.testi-container {
    display: grid;
    grid-template-columns: 22em 22em 22em;
    gap: 4em;
    width: 77%;
    margin: 3em auto;
}

.testi-item {
    padding: 1em;
    width: min-content;
    border-radius: 5px;
    box-shadow: 0 0 15px #c4c1c1;
}

.testi-img {
    display: block;
    width: 20em;
    object-fit: cover;
}

.quote {
    text-align: justify;
}

.author {
    text-align: right;
}

.rating {
    text-align: right;
}

@media only screen and (max-width: 900px) {
 
    .testi-container {
        grid-template-columns: 18em 18em;
    }

    .testi-img {
        width: 18em; 
    }
}

@media only screen and (max-width: 550px) {

    .testi-container {
        display: block;
    }

    .testi-img {
        width: 16.5em; 
    }

    .testi-item {
        margin-bottom: 2em;
    }
}